**/.idea/
**/node_modules/
**/bower_components/
**/.DS_Store
**/*.log
**/yarn.lock
**/package-lock.json
**/sw.js
**/dist/
**/www/build
**/www/index.html

*~
*.sw[mnpcod]
*.lock
*.tmp
*.tmp.*
**/log.txt
*.sublime-project
*.sublime-workspace

**/.vscode/
**/.sass-cache/
**/.versions/
**/$RECYCLE.BIN/

**/Thumbs.db
**/UserInterfaceState.xcuserstate
**/.env
